<mat-card class="contato-card">
  <mat-card-header>
    <mat-card-title>Fale comigo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
      
      <mat-form-field appearance="fill" class="campo-full">
        <mat-label>Nome</mat-label>
        <input matInput id="nome" type="text" formControlName="nome" placeholder="Seu nome completo">
        @if (form.get('nome')?.invalid && form.get('nome')?.touched) {
          <mat-error>Informe um nome (mín. 3 letras)</mat-error>
        }
      </mat-form-field>

     
      <mat-form-field appearance="fill" class="campo-full">
        <mat-label>E-mail</mat-label>
        <input matInput id="email" type="email" formControlName="email" placeholder="seu@email.com">
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <mat-error>E-mail inválido</mat-error>
        }
      </mat-form-field>

      
      <mat-form-field appearance="fill" class="campo-full">
        <mat-label>Mensagem</mat-label>
        <textarea matInput id="mensagem" formControlName="mensagem" rows="4" placeholder="Escreva sua mensagem..."></textarea>
        @if (form.get('mensagem')?.invalid && form.get('mensagem')?.touched) {
          <mat-error>Mensagem muito curta (mín. 10 caracteres)</mat-error>
        }
      </mat-form-field>

      
      <button mat-raised-button color="primary" type="submit" [disabled]="enviando || form.invalid" class="btn-enviar">
        {{ enviando ? 'Enviando...' : 'Enviar mensagem' }}
      </button>

      
      @if (sucesso) {
        <p class="ok">{{ sucesso }}</p>
      }
      @if (erro) {
        <p class="erro-msg">{{ erro }}</p>
      }
    </form>
  </mat-card-content>
</mat-card>